/*
COLORS:
#feb062
#575151
#3f3b3b
#e7b3b3
https://colorhunt.co/palette/123079
#fae3e3
*/

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

/* ---------------------- H E A D E R ---------------------- */
.App-header {
  background-color: #3f3b3b;
  height: 10vh;
  min-height: 40px;
  width: 100%;
  color: #fff;
	position: fixed;
	top: 0;
	z-index: 900;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.App-title {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#hamburger-icon {
  background-color: #3f3b3b;
  color: #ffffff;
  font-size: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
  border: none;
  border-radius: 5px;
}

#hamburger-icon:hover {
  background-color: #fff;
  color: #3f3b3b;
  cursor: pointer;
}


/* ---------------------- F O O T E R ---------------------- */
.App-footer {
  background-color: #3f3b3b;
  height: 5vh;
  min-height: 20px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  font-size: 0.6em;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

/* ---------------------- M A I N ---------------------- */
.App-main {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  margin-bottom: 5vh;
}


/* ---------------------- M A P ---------------------- */
.App-map {
  position: relative;
  width: 100%;
}

#map-container {

}

.container-element {
  height: 85vh;
  width: 100%;
}

.map-element {
  height: 100%;
}

/* ---------------------- INFO WINDOW ---------------------- */
.info-window {
  max-width: 200px;
  color: #3f3b3b;
}

.info-category {
  font-style: italic;
  color: #575151;
}

/* ---------------------- M E N U ---------------------- */
.App-menu {
  width: 260px;
  z-index: 800;
  background-color: #575151;
  height: 85vh;
  overflow-y: auto;
}

.App-menu-hidden {
  width: 0;
}

#filter-container {
  padding: 10px;
}

.filter-text {
  color: #fff;
  font-size: 0.75em;
  text-align: left;
  display: none;
}

#filter-container-select {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fa-filter {
  color: #fff;
  font-size: 1.4em;
  margin-right: 5px;
}

/* Dropdown menu */
.Dropdown-root {
  width: 140px;
  background-color: #fff;
  color: #3f3b3b;
  font-size: 0.85em;
}

.Dropdown-control {
  padding: 5px;
  cursor: pointer;
}

.Dropdown-menu {
  border-top: 1px solid #b7b7b7;
}

.Dropdown-option {
  font-style: italic;
}

.Dropdown-option:hover {
  background-color: #feb062;
  cursor: pointer;
}

/* List of places */
#list-places {
  list-style: none;
  padding: 0;
}

.list-item {
  background-color: #3f3b3b;
  color: #fff;
  font-size: 0.85em;
  margin: 7px;
  padding: 6px;
  border-radius: 5px;
}

.list-item:hover {
  background-color: #feb062;
  color: #3f3b3b;
  cursor: pointer;
}
