.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-height: 100vh;
}

/* ---------------------- H E A D E R ---------------------- */
.App-header {
  background-color: #222;
  height: 10vh;
  min-height: 40px;
  width: 100%;
  color: #ffffff;
	position: fixed;
	top: 0;
	z-index: 900;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.App-title {
  font-size: 1.5em;
}

#hamburger-icon {
  background-color: #222;
  color: #ffffff;
  font-size: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
  border: none;
  border-radius: 5px;
}

#hamburger-icon:hover {
  background-color: #ffffff;
  color: #222;
}


/* ---------------------- F O O T E R ---------------------- */
.App-footer {
  background-color: #222;
  height: 5vh;
  min-height: 20px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  font-size: 0.6em;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

/* ---------------------- M A I N ---------------------- */
.App-main {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  margin-bottom: 5vh;
}


/* ---------------------- M A P ---------------------- */
.App-map {
  position: relative;
  width: 100%;
}

#map-container {

}

.container-element {
  height: 85vh;
  width: 100%;
}

.map-element {
  height: 100%;
}


/* ---------------------- M E N U ---------------------- */
.App-menu {
  width: 200px;
  z-index: 800;
  background-color: green;
  height: 85vh;
}

.App-menu-hidden {
  width: 0;
}

.App-menu, .App-menu-hidden {
  transition: all .5s ease-in-out;
}

